.texto-grande {
    font-size: 24px;
}

.texto-pequeno {
    font-size: 17px;
}

meter {
    width: 100%;
}

.box-task {
    text-decoration: none;
    color: #444;
}

.box-task:hover {
    background-color: rgba(0, 0, 0, 0.05);
}