#conteudo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.esconder {
    display: none;
}

#app-menu {
    font-family: 'Open Sans';
}

#cabecalho {
    z-index: 1;
}

#cabecalho {
    background-color: black;
    color: white;
}

#cabecalho img {
    width: 20px;
    height: 20px;
}

#app-menu {
    border-radius: 0 0 15px 0;
}

#app-menu a {
    color: black;
    text-decoration: none;
}

#app-menu a:hover {
    color: rgb(66, 4, 235);
}

.botao, .botao-alt {
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border: none;
}

.botao-alt {
    border: 2px solid black;
    border-radius: 30px;
    background-color: transparent;
    color: black;
}

#app-frame {
    margin: auto;
    min-width: 400px;
    min-height: 600px;
    max-width: 400px;
    max-height: 600px;
    overflow-y: auto;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 0 0 36px 0px #00000087;
}

textarea {
    height: 150px;
    resize: none;
    padding: 15px;
    border-radius: 15px;
}